config ZEPHYR_ESP32_MATTER_LED_CONTROLLER_MODULE
	bool
	default y
menu "hal_espressif (/home/mspatz/code/esp32_matter_led_controller/modules/hal/espressif)"
osource "/home/mspatz/code/esp32_matter_led_controller/modules/hal/espressif/zephyr/Kconfig"
config ZEPHYR_HAL_ESPRESSIF_MODULE
	bool
	default y
	select TAINT_BLOBS

config ZEPHYR_HAL_ESPRESSIF_MODULE_BLOBS
	bool
	default y
endmenu
menu "mbedtls (/home/mspatz/code/esp32_matter_led_controller/modules/crypto/mbedtls)"
osource "$(ZEPHYR_MBEDTLS_KCONFIG)"
config ZEPHYR_MBEDTLS_MODULE
	bool
	default y
endmenu
config ZEPHYR_MCUBOOT_MODULE
	bool
	default y
menu "openthread (/home/mspatz/code/esp32_matter_led_controller/modules/lib/openthread)"
osource "$(ZEPHYR_OPENTHREAD_KCONFIG)"
config ZEPHYR_OPENTHREAD_MODULE
	bool
	default y
endmenu
menu "picolibc (/home/mspatz/code/esp32_matter_led_controller/modules/lib/picolibc)"
osource "/home/mspatz/code/esp32_matter_led_controller/modules/lib/picolibc/zephyr/Kconfig"
config ZEPHYR_PICOLIBC_MODULE
	bool
	default y
endmenu
