ZEPHYR_ESP32_MATTER_LED_CONTROLLER_MODULE_DIR=/home/mspatz/code/esp32_matter_led_controller/manifest
ZEPHYR_HAL_ESPRESSIF_MODULE_DIR=/home/mspatz/code/esp32_matter_led_controller/modules/hal/espressif
ZEPHYR_MBEDTLS_MODULE_DIR=/home/mspatz/code/esp32_matter_led_controller/modules/crypto/mbedtls
ZEPHYR_MCUBOOT_MODULE_DIR=/home/mspatz/code/esp32_matter_led_controller/bootloader/mcuboot
ZEPHYR_OPENTHREAD_MODULE_DIR=/home/mspatz/code/esp32_matter_led_controller/modules/lib/openthread
ZEPHYR_PICOLIBC_MODULE_DIR=/home/mspatz/code/esp32_matter_led_controller/modules/lib/picolibc
